body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:200vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 5em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder_headline{
font-size: xx-large;
text-align:start;
}

.holder_entry{

    margin-top:-10rem;
    display: flex;
    padding: 20px;
}
.holder_feel{
    margin-top: -20%; 

  
}
.holder_zip{
  margin-top: -5%; 
}
.entry{
    background: rgba(59, 74, 107, .4);
}

.title{
display: block;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 20px;


}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;

}

.button{
    width:30%;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    transition: 0.3s;
    border: 3px 3px 3px 3px solid black;
   
}

.button:hover  {
background-color: #444;
color: #fffff8;

  }



h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top:-4rem;

}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {    
    outline: none;

}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
#entryHolder{

   margin-right:-40%; 
;}
